@model IEnumerable<SoyJoyCandles.Models.CandleEntity>
@{
    ViewData["Title"] = "Get Partition";
}
<br />
<h2><b>Our Updated Candle List<b /></h2>
<br /><br />

<table border="1">
	<tr>
		<th>  Origin Name  </th>
		<th>  Type Name  </th>
		<th>  Produced Date  </th>
		<th>  Candle Type  </th>
		<th>  Candle Price  </th>
		<th>  Delete  </th>
	</tr>

	@foreach(var candle in Model)
	{
		<tr>
			<td>
				@candle.RowKey
			</td>
			<td>
				@candle.PartitionKey
			</td>
			<td>
				@candle.CandleProducedDate
			</td>
			<td>
				@candle.CandleType
			</td>
			<td>
				@candle.Candleprice
			</td>
			<td>
				@{ 
							var parms = new Dictionary<string, string>
					{
						{ "partitionkey", candle.PartitionKey },
						{ "rowkey", candle.RowKey }
						
					};
				}
				<a asp-area="" asp-controller="Tables" asp-action="Buy" asp-all-route-data="parms"><button>Buy</button></a>
				<a asp-area="" asp-controller="Tables" asp-action="DeleteEntity" asp-all-route-data="parms"><button>Delete</button></a>
			</td>
		</tr>
	}
</table>
